/* Estilos base para el botón de borrado */
.boton-borrar {
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  /* Estilos para el botón de borrado al pasar el cursor sobre él */
  .boton-borrar:hover {
    background-color: #c9302c;
    transform: scale(1.05);
  }
  
  /* Estilos para el botón de borrado al hacer clic en él */
  .boton-borrar:active {
    background-color: #ac2925;
  }
  