#taquilla-filtro-container{
    display: flex;
    width: 100%;

}

/* Estilos para el contenedor de la lista */
#listaOperarios {
    margin: 0 auto;
    width: 50%;
    list-style: none;
    padding: 0;
}

#taquilla-filtro-container #img-legajo{
    width: 30%;
    height: 30%;
    margin: 0 auto;
}



/* Estilos para cada elemento de la lista */
#listaOperarios .operario-item {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}


/* Estilos para la información del operario */
#listaOperarios.operario-info {
    flex-grow: 1;
}

/* Estilos para los párrafos de información */
#listaOperarios.operario-info p {
    margin: 5px 0;
}

/* Estilos para las palabras clave (Nombre, Número de Taquilla, Número de Legajo) */
#listaOperarios span {
    font-weight: bold;
}

#p-taquilla-filtro{
    background-color: #ffa500; /* Color de fondo destacado (en este caso, naranja) */
    color: rgba(0, 0, 0, 0.7); /* Color de texto con transparencia (aquí, negro al 70% de opacidad) */
    padding: 10px; /* Espaciado alrededor del párrafo para resaltar */
  
}